# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
# with 4 tabulator indent
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = tab
indent_size = 4

# If we need fine tuning the rules for other files, we can add they here
[{CMakeList.txt, *.yml}]
indent_style = space
indent_size = 2

