[submodule "assets"]
	path = assets
	url = https://github.com/trillek-team/tec-assets
[submodule "deps/trillek-vcomputer"]
	path = deps/trillek-vcomputer
	url = https://github.com/trillek-team/trillek-vcomputer-module
	branch = releases/tag/v0.5.2-fix
[submodule "deps/selene"]
	path = deps/selene
url=https://github.com/adam4813/Selene