# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc

# macOS stuff
*.DS_Store

# IDE & editors stuff
*~

# KDevelop IDE stuff
*.kdev4
.kdev4/
# VStudio IDE stuff
*.sln
# YouCompleteMe
.ycm_extra_conf.py

build/
lib/
bin/

temp/
.vs/
