[submodule "modules/glm"]
	path = modules/glm
	url = https://github.com/g-truc/glm
[submodule "modules/glfw3"]
	path = modules/glfw3
	url = https://github.com/glfw/glfw/
[submodule "assets"]
	path = assets
url=https://github.com/trillek-team/tec-assets
[submodule "modules/bullet3"]
	path = modules/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "modules/openal-soft"]
	path = modules/openal-soft
	url = git://repo.or.cz/openal-soft.git
