version: 0.1 b{build}
skip_tags: true
image:
  - Visual Studio 2019
  - Ubuntu
configuration: Release
clone_depth: 1
install:
  - git submodule update --init
  - sh: git clone https://github.com/Microsoft/vcpkg.git
  - sh: cd vcpkg
  - sh: ./bootstrap-vcpkg.sh
  - sh: ./vcpkg install asio bullet3 glew glfw3 glm lua openal-soft protobuf zlib spdlog
  - cmd: vcpkg install asio bullet3 glew glfw3 glm lua openal-soft protobuf zlib spdlog
  - cmd: mkdir build
  - cmd: cd build
for:
-
  matrix:
    only:
      - image: Ubuntu
  before_build:
    - mkdir -p build; cd build;  cmake -DCMAKE_TOOLCHAIN_FILE=vcpkg/scripts/buildsystems/vcpkg.cmake ..
  build_script:
    - make
-
   matrix:
     only:
       - image: Visual Studio 2019
   before_build:
     - cmake -G "Visual Studio 16 2019" -A Win32 -DCMAKE_TOOLCHAIN_FILE=C:/tools/vcpkg/scripts/buildsystems/vcpkg.cmake ..
   build:
     project: .\build\trillek.sln
     verbosity: minimal
after_build:
- cmd: 7z a trillek-win32.zip .\assets\ .\build\client\Release\trillek-client.exe .\build\client\Release\*.dll .\build\Server\Release\trillek-server.exe
artifacts:
- path: trillek-win32.zip
  name: trillek-win32
deploy:
- provider: GitHub
  description: nightly
  auth_token:
    secure: kL45ksPB9JGrbvgPjbKbTrnHV3gRj3XC52wu6cg8vhIy3iE8hcAzvR7tBBA8QRtO
  artifact: trillek-win32
  on:
    branch: master

cache: c:\tools\vcpkg\installed\ -> vcpkg_cache.txt
