name: Trillek Engine CI

on: [pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest]
        include:
          - os: macOS-latest
            arch: x64
            vcpkg-triplet: x64-osx
    env:
      VCPKG_INSTALLATION_ROOT: /usr/local/share/vcpkg
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Cache vcpkg (MacOS)
      uses: actions/cache@v1
      with:
        key: vcpkg-${{ matrix.os }}-${{ matrix.arch }}
        path: /usr/local/share/vcpkg      
    - name: Checkout vcpkg (MacOS)
      run: if [ ! -d "$VCPKG_INSTALLATION_ROOT" ]; then git clone https://github.com/microsoft/vcpkg.git $VCPKG_INSTALLATION_ROOT; fi
    - name: Bootstrap vcpkg (MacOS)
      run: $VCPKG_INSTALLATION_ROOT/bootstrap-vcpkg.sh
    - name: Install deps vcpkg
      run: $VCPKG_INSTALLATION_ROOT/vcpkg install asio glew glfw3 glm lua openal-soft protobuf zlib imgui spdlog --triplet ${{ matrix.vcpkg-triplet }}
    - name: Install bullet with brew (MacOS)
      run: brew install bullet   
    - name: Create Build Environment
      run: cmake -E make_directory ${{runner.workspace}}/build
    - name: Configure CMake
      working-directory: ${{runner.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_TOOLCHAIN_FILE=$VCPKG_INSTALLATION_ROOT/scripts/buildsystems/vcpkg.cmake
    - name: Build
      working-directory: ${{runner.workspace}}/build
      run: cmake --build .
      
  build-windows:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, ubuntu-16.04]
        include:
          - os: windows-latest
            arch: x64
            triplet: x64-windows
          - os: windows-latest
            arch: Win32
            triplet: x86-windows
          - os: ubuntu-16.04
            compiler: gcc
            version: "7"
            arch: x64
            vcpkg-triplet: x64-linux
          - os: ubuntu-latest
            compiler: gcc
            version: "7"
            arch: x64
            vcpkg-triplet: x64-linux
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Set vcpkg's response file path used as part of cache's key.
      uses: lukka/set-shell-env@master
      with:
        VCPKGRESPONSEFILE: ${{ github.workspace }}/vcpkg_response_files/vcpkg_${{ matrix.triplet }}.txt
    # Linux specific
    - name: Install GCC (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        if [ "${{ matrix.compiler }}" = "gcc" ]; then
          sudo apt-get install -y g++-${{ matrix.version }} g++-${{ matrix.version }}-multilib
          echo "::set-env name=CC::gcc-${{ matrix.version }}"
          echo "::set-env name=CXX::g++-${{ matrix.version }}"
        else
          sudo apt-get install -y clang-${{ matrix.version }} g++-multilib
          echo "::set-env name=CC::clang-${{ matrix.version }}"
          echo "::set-env name=CXX::clang++-${{ matrix.version }}"
        fi
    - name: Install os deps (Linux)
      if: runner.os == 'Linux'
      run: sudo apt-get install libgl1-mesa-dev xorg-dev libglu1-mesa-dev libxinerama-dev libxcursor-dev p7zip-full -y
    - name: Install and cache deps with vcpkg
      uses: lukka/run-vcpkg@v2
      id: runvcpkg
      with:
        vcpkgArguments: '@${{ env.VCPKGRESPONSEFILE }}'
        vcpkgDirectory: '${{ github.workspace }}/vcpkg'
        appendedCacheKey: ${{ hashFiles(env.VCPKGRESPONSEFILE) }}
    - name:  Configure cmake and build
      uses: lukka/run-cmake@master
      id: runcmake_cmd
      with:
        cmakeListsOrSettingsJson: 'CMakeListsTxtBasic'
        cmakeListsTxtPath: '${{ github.workspace }}/CMakeLists.txt'
        useVcpkgToolchainFile: true
        buildWithCMakeArgs: '-DCMAKE_GENERATOR_PLATFORM=${{matrix.arch}}'
        buildWithCMake: true
      