name: Trillek Engine CI

on: [pull_request]

jobs:
  build-linux:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-16.04]
        include:
          - os: ubuntu-16.04
            compiler: gcc
            version: "7"
          - os: ubuntu-latest
            compiler: gcc
            version: "7"
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - run: echo "runner.workspace dir:" ${{runner.workspace}}
    - run: echo "GITHUB_WORKSPACE dir:" $GITHUB_WORKSPACE
    - run: echo "VCPKG_INSTALLATION_ROOT dir:" $VCPKG_INSTALLATION_ROOT
    - run: echo "runner.os:" ${{ runner.os }}
    - run: echo "matrix.os:" ${{ matrix.os }}
    - run: echo "matrix.arch:" ${{ matrix.arch }}
    - name: Install GCC (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        if [ "${{ matrix.compiler }}" = "gcc" ]; then
          sudo apt-get install -y g++-${{ matrix.version }} g++-${{ matrix.version }}-multilib
          echo "::set-env name=CC::gcc-${{ matrix.version }}"
          echo "::set-env name=CXX::g++-${{ matrix.version }}"
        else
          sudo apt-get install -y clang-${{ matrix.version }} g++-multilib
          echo "::set-env name=CC::clang-${{ matrix.version }}"
          echo "::set-env name=CXX::clang++-${{ matrix.version }}"
        fi
    - name: Install os deps
      if: runner.os == 'Linux'
      run: sudo apt-get install libgl1-mesa-dev xorg-dev libglu1-mesa-dev libxinerama-dev libxcursor-dev p7zip-full -y
    - name: Cache vcpkg installed
      uses: actions/cache@v1
      with:
        key: vcpkg-${{ matrix.os }}
        path: /usr/local/share/vcpkg/installed
    - name: Install deps vcpkg
      run: vcpkg install asio bullet3 glew glfw3 glm lua openal-soft protobuf zlib imgui spdlog
    - name: Create Build Environment
      shell: bash
      run: cmake -E make_directory ${{runner.workspace}}/build
    - name: Configure CMake
      working-directory: ${{runner.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_TOOLCHAIN_FILE=$VCPKG_INSTALLATION_ROOT/scripts/buildsystems/vcpkg.cmake
    - name: Build
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: cmake --build .
      
  build-windows:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        arch: [x86, x64]
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - shell: bash
      run: echo "runner.workspace dir:" ${{runner.workspace}}
    - shell: bash
      run: echo "GITHUB_WORKSPACE dir:" $GITHUB_WORKSPACE
    - shell: bash
      run: echo "'/$GITHUB_WORKSPACE' | sed -e 's/\\/\//g' -e 's/://'"
    #- shell: bash
      #run: echo "VCPKG_INSTALLATION_ROOT dir:" $VCPKG_INSTALLATION_ROOT
    #- shell: bash
      #run: echo "'/$VCPKG_INSTALLATION_ROOT' | sed -e 's/\\/\//g' -e 's/://'"
    - shell: bash
      run: echo "runner.os:" ${{ runner.os }}
    - shell: bash
      run: echo "matrix.os:" ${{ matrix.os }}
    - shell: bash
      run: echo "matrix.arch:" ${{ matrix.arch }}
    - name: Cache vcpkg installed
      uses: actions/cache@v1
      with:
        key: vcpkg-${{ matrix.os }}-${{ matrix.arch }}
        path: C:/vcpkg/installed
    - name: Install deps vcpkg
      run: vcpkg install asio bullet3 glew glfw3 glm lua openal-soft protobuf zlib imgui spdlog --triplet ${{ matrix.arch }}-${{ runner.OS }}
    - name: Create Build Environment
      shell: bash
      run: cmake -E make_directory ${{runner.workspace}}/build
    - name: Configure cmake
      env:
        VCPKG_INSTALLATION_ROOT: "'/$VCPKG_INSTALLATION_ROOT' | sed -e 's/\\/\//g' -e 's/://'"
        GITHUB_WORKSPACE: "'/$GITHUB_WORKSPACE' | sed -e 's/\\/\//g' -e 's/://'"
      working-directory: ${{runner.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_GENERATOR_PLATFORM=${{matrix.arch}} -DCMAKE_TOOLCHAIN_FILE=$VCPKG_INSTALLATION_ROOT/scripts/buildsystems/vcpkg.cmake
    - name: Build
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: cmake --build .
      
  build-macos:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest]
    env:
      VCPKG_INSTALLATION_ROOT: /usr/local/share/vcpkg
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - run: echo "runner.workspace dir:" ${{runner.workspace}}
    - run: echo "GITHUB_WORKSPACE dir:" $GITHUB_WORKSPACE
    - run: echo "VCPKG_INSTALLATION_ROOT dir:" $VCPKG_INSTALLATION_ROOT
    - run: echo "matrix.os:" ${{ matrix.os }}
    - run: echo "runner.os:" ${{ runner.os }}
    - run: echo "matrix.arch:" ${{ matrix.arch }}
    - name: Cache vcpkg installed
      uses: actions/cache@v1
      with:
        key: vcpkg-${{ matrix.os }}
        path: $VCPKG_INSTALLATION_ROOT/installed
    - name: Checkout vcpkg
      shell: bash
      run: if [ ! -d '$VCPKG_INSTALLATION_ROOT' ]; then git clone https://github.com/microsoft/vcpkg.git $VCPKG_INSTALLATION_ROOT; fi  
    - name: Bootstrap vcpkg
      shell: bash
      run: $VCPKG_INSTALLATION_ROOT/bootstrap-vcpkg.sh
    - name: Install deps vcpkg
      shell: bash
      run: $VCPKG_INSTALLATION_ROOT/vcpkg install asio glew glfw3 glm lua openal-soft protobuf zlib imgui spdlog
    - name: Install bullet (MacOS)
      if: runner.os == 'macOS'
      run: brew install bullet
    - name: Create Build Environment
      shell: bash
      run: cmake -E make_directory ${{runner.workspace}}/build
    - name: Configure cmake
      working-directory: ${{runner.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_TOOLCHAIN_FILE=$VCPKG_INSTALLATION_ROOT/scripts/buildsystems/vcpkg.cmake
    - name: Build
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: cmake --build .

